body {
    background-color: #262626;
    font-family: 'Inter', sans-serif;
    /* CENTER MAIN DIV */
    display:grid;
    place-content: center;
}

h1, p {
    text-align: center;
}

/* CENTER INDIVIDUAL ITEMS */
select, textarea, .submit {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

select {
    background: #9EB3C2;
    width: 45%;
    height: 15%;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.38);
    border-radius: 0.25em;  
}

textarea {
    background: #9EB3C2;
    width: 75%;
    height: 5em;
    border-radius: 0.25em;
    font-size: 2.5em;
    color:black;   
    resize: none;    
}

.submit {
    width: 30%;
    height: 15%;
    background: #588157;
    border-radius: 0.5em;
    font-size: 3em;
    color:black;
    border:none; 
    
}

.answer {
    width:821.25px;
    height:252px;
    font-size: 1.5em;
    color:black;
}